<p>attack-phase works!</p>
<h1>{{ appStateService.selectedPlayer.backgroundColor }}</h1>
<app-counters-small
  [style.color]="appStateService.myData.backgroundColor"
  [player]="appStateService.myData"
></app-counters-small>
<app-counters-small
  [style.color]="appStateService.rivalData.backgroundColor"
  [player]="appStateService.rivalData"
></app-counters-small>
<app-life-points-small
  [style.color]="appStateService.myData.backgroundColor"
  [player]="appStateService.myData"
></app-life-points-small>
<app-life-points-small
  [style.color]="appStateService.rivalData.backgroundColor"
  [player]="appStateService.rivalData"
></app-life-points-small>
<app-attack-zone></app-attack-zone>
<app-damage-counter></app-damage-counter>
<div>
  <app-block-btn block="unblocked" label="Unblocked"></app-block-btn>
  <app-block-btn block="half" label="Half block"></app-block-btn>
  <app-block-btn block="full" label="Full block"></app-block-btn>
</div>
