.life-ctr {
  height: 100%;
  display: grid;
  grid-template-columns: calc(75% - 2px) calc(25% - 2px); /* Calcola le larghezze in base alla dimensione totale della griglia */
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "life-btn plus"
    "life-btn minus";
}

button {
  color: white;
  font-size: 64px;
  text-shadow:
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
}

.life-btn { grid-area: life-btn; }
.plus { grid-area: plus; }
.minus { grid-area: minus; }
