.app-main-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.player-top-section {
  flex: 1;
}

.app-life-points-big {
  flex: 5;
  height: 100%;
}

.mid-section {
  display: flex;
  flex: 2;
  height: 60px;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin: 20px;
}
