<p>main works!</p>
<div>
  <app-counters-main [player]="appStateService.myData"></app-counters-main>
  <app-options-button [player]="appStateService.myData"></app-options-button>
</div>
<app-life-points-big [player]="appStateService.myData"></app-life-points-big>
<div>
  <app-counters-main [player]="appStateService.rivalData"></app-counters-main>
  <app-options-button [player]="appStateService.rivalData"></app-options-button>
</div>
<app-life-points-big [player]="appStateService.rivalData"></app-life-points-big>
